.slideshow{
  position: fixed;
  background: #444;
  perspective: 1500px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}
.content{
  margin: auto;
  width: 150px;
  position: relative;
  transform-style: preserve-3d;
}
.slider-content{
  width: 100%;
  height: 50%;
  position:absolute;
  float:right;
  animation: rotate 15s infinite linear;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-content:hover{
  cursor: pointer;
  animation-play-state: paused;
}

.shadow{
  height:120px;
  border:1px solid #555;
  position:absolute;
  position: absolute;
  box-shadow: 0px 0px 0px #000;
  overflow:hidden;
}
.shadow img{
  width: 100%;
  height: 100%;
}
.slider-content img{
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}
@keyframes rotate {
  from{
    transform: rotateY(0deg);
  }
  to{
      transform: rotateY(360deg);
  }
}



